.otherActive~._28r-{pointer-events:auto}
._20nn{left:-1px;top:0}._1g8y{left:0;top:0}._20no{left:-3px;top:0}
._agk{margin-right:3px;max-height:16px;max-width:16px;vertical-align:-2.9px}
.sp_GrSOoICChyw_1_5x{background-image:url(/rsrc.php/v3/yo/r/4cvUviqEGEb.png);background-size:18px 36px;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_GrSOoICChyw_1_5x.sx_15c658{background-position:0 0}.sp_GrSOoICChyw_1_5x.sx_f6472a{background-position:0 -18px}

#bootloader__7P0i{height:42px;}.bootloader__7P0i{display:block!important;}