
.sp_QQEYG_6xpBe_1_5x{background-image:url(/rsrc.php/v3/yl/r/h3vRq0onb8X.png);background-size:18px 36px;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_QQEYG_6xpBe_1_5x.sx_410f0f{background-position:0 0}.sp_QQEYG_6xpBe_1_5x.sx_92e3a7{background-position:0 -18px}

#bootloader_ubpVW{height:42px;}.bootloader_ubpVW{display:block!important;}